/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 5:55:35 PM
    Author     : ddjump
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Oxygen|Source+Code+Pro');

#banner {
    font-size:24pt;
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Source Code Pro';
    font-weight:bold;
}

p, body{
    font-family: 'Oxygen', sans-serif;
}
