/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:14:55 PM
    Author     : ddjump
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico|Sigmar+One');

#banner {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: white;
}

a {
    font-family: 'Sigmar One', cursive;
    color: #6E76AF;
    background-color: white;
    text-decoration: none;
}