    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 6:42:03 PM
    Author     : ddjump
*/
@import url('https://fonts.googleapis.com/css?family=Chewy|Coming+Soon');

#text {
    font-family: 'Coming Soon', cursive;
}

#banner, a{
    font-family: 'Chewy', cursive;
    font-size:24pt;
}

a {
    color: white;
    text-decoration: none;
}