/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 5:54:57 PM
    Author     : ddjump
*/

#banner {
    color:#ffffff;
    background-color:#990000;
    padding:5px;
}

#faraday {
    width: 323px;
    height: 500px;
    float: right;
}

#content {
   margin-left:15%;
   margin-right:15%;
   color: white;
}

#background {
    background-color: #686868;
}

#4poles {
    float: right;
}

a {
    text-decoration:none;
    color:#801515;
    background-color: white;
}

p, body{
    color: white;
}

ul{
    float: left;
}