/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 10:00:56 PM
    Author     : ddjump
*/

@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

body {
    font-family: 'Droid Serif', serif;
}

p {
    border-style: double;
    border-width: thick;
}