/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 9:15:10 PM
    Author     : ddjump
*/

body {
    background-image: url("../images/butterfly.jpg");
}

#banner {
    background-color: #293BC0;
}