/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2015, 10:00:46 PM
    Author     : ddjump
*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../images/whitecloud.jpg");
}

banner {
    background-color: #9C9C9C;
    font-size: 50px;
}