/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla
 */

.lang_prompt, .lang_combo_box, .lang_ok_button,
.title_prompt, .title_text_field,
.caption_prompt, .caption_text_field {
    -fx-font-family:"Impact";    
}

.lang_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.lang_combo_box {
    -fx-font-size: 14pt;
    -fx-background-color: #A69800;
}

.lang_ok_button {
    -fx-font-size: 14pt;
    -fx-background-color: #A69800;
    -fx-border-radius: 4 4 4 4;
    -fx-spacing: 10px;
}

.lang_dialog_pane {
    -fx-background-color: #FFF373;
    -fx-hgap:25;
    -fx-vgap:15;
    -fx-padding: 30;
}

.horizontal_toolbar_pane, .vertical_toolbar_pane {
    -fx-background-color: rgb(0, 70, 255);
    -fx-spacing: 60px;
    -fx-font: 18px "Impact";
}

.horizontal_toolbar_pane {
    -fx-background-color: rgb(26, 160, 255);
    -fx-font: 18px "Impact";
    -fx-alignment: center;
    -fx-position: absolute;
}

.vertical_toolbar_pane {
    -fx-background-color: rgb(0, 209, 255);
    -fx-font: 18px "Impact";
    -fx-alignment: center;
}

.vertical_toolbar_button {
    -fx-background-radius: 5.0;
    -fx-base: #ffd700;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-background-color: rgb(162, 242, 255);
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(162, 242, 255);
    -fx-background-radius: 5.0;
    -fx-base: #ffd700;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.workspace {
    -fx-background-color: #FFF373;
}

.slides_editor_pane {
    -fx-background-color: rgb(26, 160, 255);
    -fx-padding: 30;    
    -fx-hgap:35;
    -fx-vgap:40;
}

.slide_edit_view, .selected_slide_edit_view {
    -fx-border-width: 5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
}

.slide_edit_view {
    -fx-background-color: rgb(59, 90, 255);
    -fx-border-color: rgb(240, 242, 255);
}

.selected_slide_edit_view {
    -fx-background-color: rgb(104, 118, 193);
    -fx-border-color: rgb(12, 25, 92);
}

.title_pane {   
    -fx-hgap:10;
    -fx-vgap:10;
    -fx-padding: 0 0 20 0;
}

.title_prompt {
    -fx-font: 18pt bold;
}

.title_text_field {
    -fx-font: 16pt normal;
    -fx-background-color: #C89E00;
    -fx-min-width:300px;
}

.caption_prompt {
    -fx-font-size: 16pt;
    -fx-padding: 5 5 5 20;
}

.caption_text_field {
    -fx-font-size: 14pt;
    -fx-background-color: #FFF373; 
    -fx-min-width:600px;
    -fx-padding: 5 5 5 20;
}