/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 3:35:33 PM
    Author     : ddjump
*/

.slide_bar {
    -fx-background-color: rgb(0, 209, 255);
}

.slide_show_edit_vbox {
    -fx-background-color: rgb(0, 209, 255);
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(0, 70, 255);
    -fx-spacing: 55px;
    -fx-font: 13px "Impact";
}

.selected_slide_edit_view {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: rgb(238, 238, 207);
    -fx-spacing: 50px;
}

.vertical_toolbar_button {
    -fx-background-radius: 5.0;
    -fx-base: #ffd700;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
    -fx-background-color: rgb(162, 242, 255);
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(162, 242, 255);
    -fx-background-radius: 5.0;
    -fx-base: #ffd700;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.vbox {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.lang_prompt_BTN {
    -fx-font: 13px "Impact";
    -fx-base: #ffd700;
    -fx-background: rgb(0, 189, 255);
    -fx-alignment: center;
}

#component {
    -fx-background-radius: 5.0;
    -fx-base: #9DD6FE;
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 40px;
    -fx-background-color: rgb(110, 195, 255);
}

#Pane {
    -fx-background-color: rgb(26, 160, 255);
    -fx-font: 15px "Impact";
    -fx-alignment: center;
    -fx-position: absolute;
}

#workspace {
    -fx-background-color: rgb(26, 160, 255);
     -fx-border-color: rgb(1, 138, 243);
    -fx-border-width: 5;
}

.xbutton {
    -fx-background-color: greenyellow;
}

#dialog {
    -background-color: rgb(0, 209, 255);
}


